
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* header */
.material-symbols-outlined{
    color: rgb(96,96,96);
    font-size: 14px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 39px;
    padding: 17px;
   
}
.header-left{
    display: flex;
    align-items: center;

}
.header-left img{
    width: 85px;
    margin-left: 15px;

}
header span{
    padding: 0px 7px;
    cursor: pointer;
}
.header-search form{
    border: 1px solid #ddd;
    height: 23px;
    margin: 0px;
    padding: 1px;
    display: flex;
}
.header-search input{
    width: 400px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;
    height: 20px;
}
.header-search button{
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 0;

}
/* main body */
.mainbody{
    height: 500px;
    display: flex;
    overflow: hidden;
    width: 768px;
   
}

/* side bar */
.sidebar{
    height: 100%;
    width: 222px;
    background: white;
    overflow-y: scroll;
    
}
.sidebar-catagories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 4px;
  
}
.sidebar-catagory{
    display: flex;
    align-items: center;
    padding: 5px 5px;
  

}
.sidebar-catagory span{
    font-size: 14px;
    

}
.sidebar-catagory i{
    font-size: 10px;

}
.sidebar-catagory :hover{
    background: #e5e5e5;
    cursor: pointer;
}
::-webkit-scrollbar{
    display: none;
}
hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}

.material-symbols-sharp {
    font-family: 'Material Symbols Sharp';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    
    -webkit-font-smoothing: antialiased;
}
/* vidios */
.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap:30px ;
    margin-top: 15px;

}
.vid-list .thumbnail{
    width: 100%;
    border-radius: 5px;


}
.vid-list .flexdiv{
    align-items: flex-start;
    margin-top: 7px;


}
.vid-list .flexdiv img{
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
    
}
.vid-info {
    color: #5a5a5a;
    font-size: 10px;
   


}
.vid-info a{
    color: #000;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    text-decoration: 0;
    margin-left: 36px;
    margin-top: -39px;

}


